<div id="<%= dom_id timeslot %>">
  <p>
    <strong>Slot start:</strong>
    <%= timeslot.slot_start %>
  </p>

  <p>
    <strong>Slot end:</strong>
    <%= timeslot.slot_end %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= timeslot.count %>
  </p>

  <p>
    <strong>has_passed:</strong>
    <%= timeslot.has_passed %>
  </p>

</div>
