<p style="color: green"><%= notice %></p>

<%= render @admin_message %>

<div>
  <%= link_to "Edit this admin message", edit_admin_message_path(@admin_message) %> |
  <%= link_to "Back to admin messages", admin_messages_path %>

  <%= button_to "Destroy this admin message", @admin_message, method: :delete %>
</div>
