<p style="color: green"><%= notice %></p>

<%= render @line_status %>

<div>
  <%= link_to "Edit this line status", edit_line_status_path(@line_status) %> |
  <%= link_to "Back to line statuses", line_statuses_path %>

  <%= button_to "Destroy this line status", @line_status, method: :delete %>
</div>
