<div id="<%= dom_id user_timeslot %>">
  <p>
    <strong>User:</strong>
    <%= user_timeslot.user_id %>
  </p>

  <p>
    <strong>Timeslot:</strong>
    <%= user_timeslot.timeslot_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user_timeslot.status %>
  </p>

  <p>
    <strong>Selected date time:</strong>
    <%= user_timeslot.selected_date_time %>
  </p>

  <p>
    <strong>Num packages:</strong>
    <%= user_timeslot.num_packages %>
  </p>

</div>
