<p style="color: green"><%= notice %></p>

<%= render @user_timeslot %>

<div>
  <%= link_to "Edit this user timeslot", edit_user_timeslot_path(@user_timeslot) %> |
  <%= link_to "Back to user timeslots", user_timeslots_path %>

  <%= button_to "Destroy this user timeslot", @user_timeslot, method: :delete %>
</div>
